.card {
	position: relative;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1rem;
	border: 1px solid grey;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 1s, transform 0.3s;
}
.card:hover {
	background-color: rgb(27, 27, 27);
	transform: scale(1.02);
}
.card-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
	color: white;
	font-size: 0.75rem;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: capitalize;
}
.text {
	font-size: 1.5rem;
}
.image-animation:hover {
	animation: animation 1s linear infinite;
}
@keyframes animation {
	0% {
		transform: translate(0%, 0%);
	}
	50% {
		transform: translate(-2%, -2%);
	}
	100% {
		transform: translate(0%, 0%);
	}
}
