.text {
	color: white;
	letter-spacing: 1px;
	font-size: 1.15rem;
}
.container {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}
.pokemon {
	opacity: 0.2;
}
